<Files "config.ini">
  Order Allow,Deny
  Deny from all
</Files>
<Files "manager-db.php">
Order Allow,Deny
Deny from all
</Files>
<Files "connect-db.php">
Order Allow,Deny
Deny from all
</Files>
<Files "createDatabase.sql">
Order Allow,Deny
Deny from all
</Files>